.contenedor{
    width: 99%;
    align-content: center;
}

/* M O V I L */
@media (max-width: 767px){
    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
    
    
}
/* T A B L E T */
@media (min-width: 768px) and (max-width: 990px){
    .desktop{
        display: none;
    }
    .movil{
        display: none;
    }
}
/* E S C R I T O R I O */
@media (min-width: 991px){
    .tablet{
        display: none;
    }
    .movil{
        display: none;
    }
}